{% extends "base.html" %}


{% block content %}
    <h3>{{ object }}</h3>

    {% for product in products %}
        <div class="col-xs-4">
            {% with product=product %}
                {% include "products/product_thumbnail.html" %}
            {% endwith %}
        </div>
        {#            {% cycle '' '' '' '' '' '</div><div class="row">' %}  for col-xs-2#}
        {% cycle '' '' '</div><div class="row">' %}
        {#            for col-xs-4#}
    {% endfor %}
    {#    <table class="table">#}
    {#        {% for product in products %}#}
    {#            <tr>#}
    {#                <td><a href="{{ product.get_absolute_url }}">{{ product.title }}</a>#}
    {#            </tr>#}
    {#        {% endfor %}#}
    {#    </table>#}

    {#    <table class="table">#}
    {#        {% for product in object.product_set.all %}#}
    {#            <tr>#}
    {#                <td><a href="{{ product.get_absolute_url }}">{{ product.title }}</a>#}
    {#            </tr>#}
    {#        {% endfor %}#}
    {#    </table>#}
    {#{{ object.default_category.all }}#}
    {#    {{ object.product_set.all }}#}

{% endblock %}