{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
    {#    {{ user_auth }}#}
    {% if not user_can_continue %}
        <div class="col-sm-6">
            <p class="lead">Continue as Guest</p>
            <form action="" method="post">{% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-success" value="Continue as Guest">
            </form>
        </div>

        <div class="col-sm-6">
            <p class="lead">Login to Continue</p>
            <form action="{% url 'auth_login' %}" method="post">{% csrf_token %}
                {{ login_form|crispy }}
                <input type="hidden" name="next" value="{{ next_url }}">
                <input type="submit" class="btn btn-success" value="Login">
            </form>
            <br>
            <div class="text-left">
                <p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!
                </p>
                <p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>
            </div>
        </div>
    {% endif %}
{% endblock %}
